<div id="auth-page" class="container">
  <a class="bar" href="/auth/login"><span class="big">Login: &nbsp;</span> I have an account here</a>
  <a class="bar" href="/auth/newuser"><span class="big">New User: &nbsp;</span>I want to create an account</a>
</div>