<form id="loginForm" method="post">
  <label>Username: <input id="username" name="username"></label><br>
  <label>Password: <input id="password" name="password" type="password"></label><br>
  <input id="login" type="submit" value="Login">
</form>