<form id="loginForm" method="post">
  <label>Username: <input id="username" name="username"></label><br>
  <label>Password: <input name="password" type="password"></label><br>
  <input type="submit" value="Login">
</form>