<div class="container">
  <h2 class="input-title">Sign In</h2>
  <form class="input-form" id="loginForm" method="post">
    <label>Username: <input id="username" name="username"></label><br>
    <label>Password: <input id="password" name="password" type="password"></label><br>
    <input id='login' class='button inverted' type="submit" value="Login">
    <br>
  </form>
</div>