<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Tom Tube</title>
  <link rel="stylesheet" href="/css/site.css">
  <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/2dca9d9a04.js"></script>
</head>

<body>
  <div class="nav-container">
    <a href="/">
      <h1 class="nav-title"> Tom Tube <i class="fas fa-video"></i></h1>
    </a>
    <div class="options">
      <a href="/">
        <div class="option">Home</div>
      </a>
      <a href="/tracker">
        <div class="option">Youtube</div>
      </a>
      <a href="/favorites">
        <div class="option">Favorites</div>
      </a>
      {{#if username}}
      <a class="logout" href="/logout">
        <div class="option">Sign Out</div>
      </a>
      {{else}}
      <a class="logout" href="/tracker">
        <div class="option">Sign In</div>
      </a>
      {{/if}}
    </div>
  </div>
  <div class="main-container">
    <div class="content">
      {{{body}}}
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  {{{_sections.jquery}}}

</body>

</html>