<div class="container">
  <h1 class="input-title bottom">Favorites</h1>
  <div id="favorites">

  </div>
</div>
{{#section 'jquery'}}
<script>
  function getFavorites() {
    $.get('/favorites/get_data', function (data) {
      let rdiv = $("#favorites");
      rdiv.html('');
      data.favorites.forEach(function (element) {
        console.log(element)
        rdiv.html(rdiv.html() + '<div class="card">' + '<h2 class="fav-title">'
          + element.title + '</h2>'
          + '<a class="button inverted black" href='
          + element.url + '">' + "Watch" + '</a>' + '</div>' + '<br>');
      });

    });
  }
  getFavorites();
</script>

{{/section}}