<div class="showcase">

  <div class="get-started">
    <h1 class="showcase-title">Tom Tube: Youtube clone</h2>
      <p class="showcase-text">Created by Tom Corey</p>
      <div class="buttons">
        <a href="/auth/login" class="button">Login</a>
        <a href="/auth/newuser" class="button inverted">Create Account</a>
      </div>
  </div>
</div>

<div class="row">
  <div class="row-item">
    <i class="fas fa-search fa-2x blue"></i>
    <h4 class="row-title">Search For Videos</h4>
    <p class="row-text">Search for any youtube video you want through the youtube api</p>
  </div>
  <div class="row-item">
    <i class="far fa-eye fa-2x blue"></i>
    <h4 class="row-title">Watch on Site</h4>
    <p class="row-text">View the video on the Site</p>
  </div>
  <div class="row-item">
    <i class="fas fa-star fa-2x blue"></i>
    <h4 class="row-title">Save your Favorites </h4>
    <p class="row-text">Favorite videos and revist them on the favorites page with the help of a mongoDb database</p>
  </div>
</div>

{{!-- Photo by Szabo Viktor on Unsplash --}}