<div class="showcase">
  <div class="get-started">
    <h1 class="showcase-title">Tom Tube: Youtube clone</h2>
      <p class="showcase-text">Created by Tom Corey</p>
      <div class="buttons">
        <a href="/tracker" class="button">Login</a>
        <a href="" class="button inverted">Create Account</a>
      </div>
  </div>

</div>

{{!-- Photo by Szabo Viktor on Unsplash --}}