<div class="search">
  <h1>Search for Video</h1>
  <form id="messageForm" method="post">
    <label>
      <textarea id="message" name="message"></textarea>
    </label>
    <br>
    <input type="submit" value="Search">
  </form>
</div>
<div id="messages">
  {{#each results}}
  <div class="results">
    <h2 class="title">{{snippet.title}}</h2>
    <p>{{snippet.description}}</p>
    <a class="myButton" href="tracker/watch?vidId={{id.videoId}}">Watch </a>
  </div> {{/each}} </div>

{{#if vidId}}
<h2>
  Recently Watched
</h2>
<a class="myButton" target="_blank" href="/tracker/watch?vidId={{vidId}}">
  Watch
</a>
{{/if}}