<h1>Search for Video</h1>
<form id="messageForm" method="post">
  <label>Message:
    <textarea id="message" name="message"></textarea>
  </label>
  <br>
  <input type="submit" value="Say it!">
</form>
<div id="messages">
  {{#each results}}
  <h1>{{snippet.title}}</h1>
  {{/each}}
</div>