<h1>Hello {{username}}</h1>
<div class="search">
  <h1>Search for Video</h1>
  <form id="messageForm" method="post">
    <label>
      <input id="message" name="message">
    </label>
    <br>
  </form>
</div>
<div id="searchResults">

</div>

{{#if vidId}}
<h2>
  Recently Watched
</h2>
<a class="myButton" target="_blank" href="/tracker/watch?vidId={{vidId}}">
  Watch
</a>
{{/if}}

{{#section 'jquery'}}
<script>
  $(document).ready(function () {
    $("p").hide();
  });

  function postResults() {
    console.log(".submit working")
    let input = $('#message').val()

    $.post("/tracker", { message: input }, function (data) {
      let rdiv = $('#searchResults')
      rdiv.html('');
      for (result of data) {

        rdiv.html(rdiv.html() + '<div class="results">' + '<h2>'
          + result.snippet.title + '</h2>' + '<p>'
          + result.snippet.description + '</p>'
          + '<a class="myButton" href="tracker/watch?vidId='
          + result.id.videoId + '&title=' + result.snippet.title + '">' + "Watch" + '</a>' + '</div>');

      }
    })
  }

  $(function () {
    $("#message").on('change textInput input', function () {
      var val = $(this).val().trim();
      val = val.replace(/\s+/g, '');
      console.log(val);
      if (val.length >= 3) { //for checking 3 characters
        postResults();
      }
    });
  });

</script>
{{/section}}