<h1>Search for Video</h1>
<form id="messageForm" method="post">
  <label>
    <textarea id="message" name="message"></textarea>
  </label>
  <br>
  <input type="submit" value="Search">
</form>
<div id="messages">
  {{#each results}}
  <a href="tracker/watch?id={{id.videoId}}">Watch</a>
  <h3>{{snippet.title}}</h3>
  <p>{{snippet.description}}</p>
  {{/each}}
</div>