:root {
  --main-bg-color: #c2c8cc;
  --main-page-color: #337fbd;
  --main-txt-color: white;
  --color-snow: #ffffff;
}

/* GLOBAL */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: "Chilanka", cursive;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: #337fbd;
}

/* Nav Bar */
.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .nav-title {
  height: 100%;
  padding: 25px;
}

.nav-container .options {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.nav-container .option {
  padding: 20px 20px;
}

.option a:hover {
  opacity: 0.6;
}

/* Showcase */

.showcase {
  display: flex;
  min-height: 500px;
  background: url("../assets/youtube.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.89;
}

.showcase .get-started {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 50%;
}

.showcase .showcase-text {
  margin-bottom: 15px;
}

.showcase .buttons {
  width: 40%;
  padding: 10px;
  margin: auto;
  color: white;
  display: flex;
  justify-content: space-between;
}
