:root {
  --main-bg-color: #c2c8cc;
  --main-color: #083d77;
  --secondary-txt-color: #ebebd3;
  --green-color: #73ad21;
  --color-snow: #ffffff;
}

/* GLOBAL */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: "Chilanka", cursive;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  color: var(--color-snow);
  border-radius: 25px;
  border: 2px solid var(--green-color);
  cursor: pointer;
}

.blue {
  color: var(--green-color);
}

/* Nav Bar */
.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .nav-title {
  height: 100%;
  padding: 25px;
}

.nav-container .options {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-container .option {
  padding: 20px 20px;
}

a .option:hover {
  opacity: 0.6;
}

/* Showcase */

.showcase {
  display: flex;
  min-height: 500px;
  background: url("../assets/youtube.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.89;
}

.showcase .get-started {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 50%;
}

.showcase .showcase-text {
  margin-bottom: 15px;
}

.showcase .buttons {
  width: 40%;
  padding: 10px;
  margin: auto;
  color: white;
  display: flex;
  justify-content: space-between;
}

.button:hover {
  transition: 1s;
  background-color: var(--green-color);
}

.button.inverted {
  background-color: var(--green-color);
}

.button.inverted:hover {
  background-color: transparent;
}

/* ROW DISPLAY */

.row {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row .row-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 0 0 33%;
  line-height: 2;
}

.row .row-title {
  margin-top: 1rem;
  font-size: 2rem;
}

.row .row-text {
  color: grey;
}

@media only screen and (max-width: 768px) {
  /* bottom row */
  .row {
    flex-direction: column;
  }
  .row-item {
    margin-top: 3rem;
  }

  /* Showcase */
  .showcase .buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buttons .button {
    margin-top: 1rem;
    width: 200px;
  }

  /* Nav */
  .nav-container {
    flex-direction: column;
  }
  .nav-container .options {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  a .option:hover {
    background-color: black;
    color: white;
  }
}

/* Login and Sign Up */

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.input-title {
  padding: 1rem;
}

.input-form {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

#login {
  margin: auto;
  font-family: "Chilanka", cursive;
  color: black;
  font-size: 1rem;
}

#auth-page {
  justify-content: space-between;
  padding: 5rem;
}

/* bar */
.bar {
  padding: 10px;
  margin: 10px 0;
}

.bar:hover {
  color: white;
  background: black;
}
.big {
  font-size: 2rem;
}

/* tracker page */
.cool-input {
  width: 60%;
  height: 30px;
  margin: 2rem;
  padding: 1rem;
  font-size: 1rem;
}
.card {
  margin: 4rem 3rem;
  display: flex;
  flex-direction: column;
}

.description {
  padding: 2rem;
}

.black {
  color: black;
  margin: auto;
}

/* Watch */
.viewport {
  width: 70%;
  padding: 2rem;
}
iframe {
  margin: auto;
}
.video-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.favorite-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  cursor: pointer;
  margin: auto;
  background: #efc93d;
  padding: 1rem;
}

.favorite-button:hover {
  background: transparent;
  border: 1px solid #efc93d;
}

.favorite-button:disabled:hover {
  cursor: not-allowed;
  background: #efc93d;
  border: none;
}

.fav-title {
  margin-bottom: 1rem;
}
